.App {
  font-family: sans-serif;
  text-align: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

}

#root .react-tabs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#root .react-tabs__tab-panel--selected{
  display: flex;
  flex: 1;
  flex-direction: column;
}


#root .tasks {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: 8px;
}

.task-list, .task-dependencies {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  flex-direction: column;
}

.grid-header {
  padding: 2px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.app-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.header-left, .header-right {
  display: flex;
  flex: 1;
}

.header-right{
  flex-direction: row-reverse;
  gap: 10px;
}

.app-content-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.graph-container{
  display: flex;
  flex: 1;
  flex-direction: column;
  border-bottom: 1px solid #ddd;
}

.graph-container .chart-item{
  flex: 1;
}

.list-container{
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media only screen and (min-width: 1500px) {
  .app-content-container{
    flex-direction: row;
  }

}